*
!*/

!.gitignore
!resources.json
!textTable.json
!README.md

!Towers/**/*.json
!Upgrades/**/*.json
!Bloons/**/*.json
!Powers/**/*.json
!Rounds/**/*.json
!Maps/**/*.json
!Buffs/**/*.json
!Skins/**/*.json
!Knowledge/**/*.json
!GeraldoItems/**/*.json

**/PowersInShop-*.json
**/BossRounds-*.json