*
!*/
!.gitignore
!README.md
!Towers/**/*.json
!Upgrades/**/*.json
!Bloons/**/*.json
!Powers/**/*.json
!Mods/**/*.json
!Rounds/**/*.json
!Maps/**/*.json
!Buffs/**/*.json
!Skins/**/*.json
!Knowledge/**/*.json
!GeraldoItems/**/*.json
!BloonOverlays/**/*.json
!Artifacts/**/*.json
!TrophyStoreItems/**/*.json
!Achievements/**/*.json
!IncomeSets/**/*.json
!Bosses/**/*.json
!textTable.json
!paragonDegreeData.json
!resources.json
!rogueData.json